<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Lección Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="centered-content">

  <div class="avatar-container">
    <ion-avatar>
      <img alt="Imagen del gato" src="/assets/gato.jpg" />
    </ion-avatar>
    <ion-label class="avatar-name">Joselyn Armendariz</ion-label>
  </div>

  <div class="centered-buttons">
    <ion-button expand="block" color="primary" (click)="onInicioClick()">Inicio</ion-button>
  
    <ion-button expand="block" color="secondary" (click)="onCancelarClick()">Cancelar</ion-button>
  
    <ion-button expand="block" color="danger" (click)="onHeartClick()">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
  </div>
  
  
</ion-content>
